version: 2.0
  platform_hooks:
    prebuild:
      commands:
        - echo "Running prebuild commands"
        - cd backend
        - npm ci --only=production
        - npx prisma generate
    predeploy:
      commands:
        - echo "Running predeploy commands"
        - cd backend
        - npx prisma migrate deploy || true
